2019-10-02: Homework 2: total 100 points for Pandas and Matplotlib
Submission due date by the end of Oct. 9th, 2019.
Total 100 points.

Pandas Homework: 9 questions, total 50 points.

1. Given data = [1,2,3,4,5,6,7,8,9,5,3], create a Pandas Series, then calculate the mean and standard deviation of the Series and print the outputs.
 (3 points)

In [3]:
import pandas as pd 
import numpy as np

In [4]:
data = np.array([1,2,3,4,5,6,7,8,9,5,3])

In [5]:
panda_series = pd.Series(data)

In [6]:
print(panda_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int32

In [7]:
standard_deviation_of_panda_series = panda_series.std()
print("Standard deviation of Panda Series: ", standard_deviation_of_panda_series)

2.522624895547565

In [8]:
mean_of_panda_series = panda_series.mean()
print("Mean of Panda Series: ", mean_of_panda_series)

4.818181818181818

2. There are two Pandas Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]. Compare the elements of the two Pandas Series. Expected outputs are to print two series comparing with "equal", "greater than", and "less than". (4 points)

In [9]:
data1 = np.array([2, 4, 6, 8, 10])
data2 = np.array([1, 3, 5, 7, 9])

In [10]:
panda_series_1 = pd.Series(data1)
panda_series_2 = pd.Series(data2)

In [11]:
print("Series1:")
print(panda_series_1)
print("Series2:")
print(panda_series_2)
print("Compare the elements of the said Series:")
print("Equals:")
print(panda_series_1 == panda_series_2)
print("Greater than:")
print(panda_series_1 > panda_series_2)
print("Less than:")
print(panda_series_1 < panda_series_2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int32
Series2:
0    1
1    3
2    5
3    7
4    9
dtype: int32
Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4    False
dtype: bool
Greater than:
0    True
1    True
2    True
3    True
4    True
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

3. NumPy array: d1 = [10, 20, 30, 40, 50];  dictionary: d2 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}    
Convert the NumPy array and the dictionary to Pandas Series, respectively. (2 points)

In [16]:
d1 = np.array([10, 20, 30, 40, 50])

panda_series_d1 = pd.Series(d1)

print(panda_series_d1)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [15]:
d2 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}

panda_series_d2 = pd.Series(d2)

print(panda_series_d2)

a    100
b    200
c    300
d    400
e    800
dtype: int64

4. Contruct a DataFrame as the sameple data here. Use "iloc" to convert the first column of a DataFrame as a Series. (4 points)
Sample data:
    col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [19]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}

df = pd.DataFrame(data = d)

print(df)

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [23]:
df.iloc[:,0:1]

   col1
0     1
1     2
2     3
3     4
4     7
5    11

5. Create a DataFram with multiple indice, the result should be the following: here, "random" means any integer random number for books. [7 point]

                       Bob     Tom
 1st          2nd                    
fiction       one     random  random
              two     random  random
non-fiction   one     random  random
              two     random  random
sci-fi        one     random  random
              two     random  random
chapter       one     random  random
              two     random  random

6. Write a Pandas program to replace all the NaN values with Zero's in a column of a dataframe. [5 points]. 
Sample data is a dataset for an exam:
Original DataFrame
attempts name qualify score
0 1 Anastasia yes 12.5
1 3 Dima no 9.0
2 2 Katherine yes 16.5
3 3 James no NaN
4 2 Emily no 9.0
5 3 Michael yes 20.0
6 1 Matthew yes 14.5
7 1 Laura no NaN
8 2 Kevin no 8.0
9 1 Jonas yes 19.0
1) Construct a DataFrame and the column in the order as name, score, attempts, qualify
2) New DataFrame replacing all NaN with 0.

7. Sort a given Series; add some data ['500', 'php'] to an existing Series; [5 points]
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400

8. Count number of columns of the DataFrame; select all columns, except one given column 'col3'; remove first 3 rows of the DataFrame; remove last 3 rows of the DataFrame. [10 points]
Sample DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

9. [10 points]: 
1. read data from movies.csv file to Pandas
2. get the information of the DataFrame (movies.csv file) including data types and memory usage.
3. count the number of rows and columns of the DataFrame 
4. get the details of fifth movie of the DataFrame.
5. display the movies (title, runtime)longer than 30 minutes and shorter than 360 minutes.


Matplotlib: 5 questions, total 50 points.

1. [3 points]: plot several lines with different format styles in one command using arrays.
Sampled time at 200ms intervals
t = np.arange(0., 5., 0.2)
green dashes, blue squares and red triangles to plot t, t**2, t**3.

2. [7 points]: plot line1 and line2 with different styles
# line 1 points
x1 = [10,20,30]
y1 = [20,40,10]
# line 2 points
x2 = [10,20,30]
y2 = [40,10,30]
Set the x and y axes labels as 'x' and 'y';  # 2point
Plot lines and/or markers to the Axes: blue,red; dotted, dashed;   # 3point
Set a title: "Plot with two or more lines with different styles";  # 1point
show a legend on the plot as 'line1-dotted', 'line2-dashed'.   # 1point

3. [5 points]: draw a scatter plot with empty circles taking a 50-point random distribution in X and Y; set X and Y as x- and y- axes lables;
  any color for face and edge, and plotted against each other.

4. [5 points]:  create bar plot from a DataFrame.
Sample DataFrame:
  a b c d e 
2 4,8,5,7,6
4 2,3,4,2,6
6 4,7,4,7,8
8 2,6,4,8,6
10 2,4,3,3,2

5. [30 points]:
The following dataset for average monthly precipitation. You will create and customize a plot. 
Month    Precipitation (inches)
Jan      0.70
Feb      0.75
Mar      1.85
Apr      2.93
May      3.05
June     2.02
July     1.93
Aug      1.62
Sept     1.84
Oct      1.31
Nov      1.39
Dec      0.84

5.1 [10 points]: Begin by creating a plot using the default styles provided by matplotlib.pyplot. You will use months along the x-axis and precip along the y-axis; and set plot size [8,8] for the plot:

5.2 [10 points]: Add Title and Axis Labels
set plot title as "Average Monthly Precipitation";
add labels to the axes: x label as "Month", y label as "Precipitation (inches)"

5.3 [10 points]: Change Plot Type
You can turn your plot into a bar plot; 
also assign a fill color using "green".